:root {
  --bg: rgba(22, 22, 26, 1);
  --white: rgba(255, 255, 254, 1);
  --primary: rgba(127, 90, 240, 1);
  --secondary: rgba(114, 117, 126, 1);
  --gray: rgba(148, 161, 178, 1);
}

html {
  scroll-behavior: smooth;
}

* {
  color: var(--white);
  font-family: "Arvo", serif;
}

body {
  background: var(--bg);
  width: 100vw;
  overflow-x: hidden;
}

h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  margin: 0;
  color: var(--white);
}

h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  margin: 0;
  color: var(--white);
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  color: var(--white);
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 26.4px;
  height: 106px;
  margin: 0;
  color: var(--white);
}

.hwrapper {
  padding-left: 16px;
  padding-right: 16px;
}

.header {
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 10;
  background: var(--bg);
}

.logo {
  font-family: Montserrat;
  margin: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
  letter-spacing: 1%;
}

.nav {
  display: none;
}

.nav-toggle {
  width: 24px;
  height: 24px;
}

.hero {
  padding-top: 80px;
  padding-bottom: 80px;
}

.hero p {
  color: var(--secondary);
  margin: 0;
  margin: 16px 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.hero__button {
  text-decoration: none;
  background: var(--primary);
  padding: 12px 24px;
  border: none;
  border-radius: 4px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.projects {
  padding-top: 64px;
  padding-bottom: 38px;
}

.project {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-bottom: 80px;
}

.project:last-child {
  padding-bottom: 0;
}

.project__image {
  width: 100%;
}

.project__title {
  color: var(--gray);
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
}

.project__description {
  color: var(--gray);
  font-weight: 700;
  font-size: 20px;
  line-height: 26.4px;
  margin: 0;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.btn {
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  padding: 12px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  border: 1px solid var(--primary);
}

.btn--primary {
  background: var(--primary);
}

.btn--secondary {
  background: transparent;
  color: var(--primary);
}

.logos {
  display: flex;
  flex-direction: column;
}

.companies {
  padding-top: 64px;
}

.company {
  object-fit: none;
  width: 216px;
  height: 200px;
  margin: auto;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding-top: 64px;
  padding-bottom: 64px;
}

.contact a {
  font-size: 24px;
  font-weight: 700;
  line-height: 26.4px;
  color: var(--primary);
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 32px;
  padding-top: 40px;
  padding-bottom: 40px;
  margin-bottom: 64px;
}

.footer a {
  text-decoration: none;
}

.footer p {
  color: var(--secondary);
  font-size: 18px;
  line-height: 27px;
}

.footer ul {
  padding-left: 0;
}

.footer li {
  list-style-type: none;
  padding-top: 16px;
  font-size: 14px;
  line-height: 27px;
  color: var(--white);
}

#sidenav {
  position: fixed;
  background: var(--bg);
  width: 0vw;
  overflow-x: hidden;
  height: 100vh;
  gap: 48px;
  top: 0%;
  left: 100%;
  font-weight: 700;
  text-align: center;
  transition: all 0.3s ease;
  z-index: 9;
}

#sidenav.show {
  width: 100vw;
  transform: translateX(-100%);
  transition: all 0.3s ease;
}

#sidenav .nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  gap: 48px;
}

#sidenav h3 {
  margin: 0;
}

#sidenav a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--secondary);
  font-size: 32px;
  line-height: 32px;
  transition: color 0.5s linear;
}
#sidenav a.active {
  color: var(--white);
  transition: color 0.3s linear;
}

@media screen and (min-width: 1000px) {
  .hwrapper {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 89px;
    padding-right: 89px;
    max-inline-size: 1188px;
    margin: auto;
  }

  .header {
    padding-top: 32px;
    padding-bottom: 32px;
  }

  .nav {
    display: inline-block;
  }

  .nav-toggle {
    display: none;
  }

  #sidenav {
    display: none;
  }

  .nav {
    text-transform: uppercase;
  }

  .nav li {
    list-style-type: none;
  }

  .nav a {
    text-decoration: none;
    font-weight: 700;
    font-size: 14px;
    line-height: 27px;
    color: var(--secondary);
    transition: color 0.3s ease;
  }

  .nav a.active {
    color: var(--white);
  }

  .nav ul {
    display: flex;
    gap: 40px;
    margin: 0;
    height: 24px;
  }

  h4 {
    font-weight: 700;
    font-size: 72px;
    line-height: 80px;
    margin: 0;
    color: var(--white);
    height: auto;
  }

  .hero p {
    padding: 24px 0;
    max-width: 580px;
  }
  
  .projects {
    padding: 80px 0;
    text-align: center;
    max-inline-size: 781px;
    margin: auto;
  }

  .project {
    text-align: left;
  }
  
  .project:first-of-type {
    padding-top: 80px;
  }

  .project__image {
    width: auto;
  }

  .project__description {
    font-size: 32px;
    line-height: 32px;
  }

  .buttons {
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .btn {
    padding: 12px 24px;
  }

  .companies h4 {
    font-size: 64px;
    line-height: 76px;
    padding: 80px 0;
  }

  .logos {
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
  }

  .company {
    height: 374px;
    width: 347px;
  }

  .contact {
    gap: 80px;
  }
  .contact a,
  .contact h4 {
    font-size: 64px;
    line-height: 76px;
  }

  .footer {
    flex-direction: row;
    padding: 80px 0;
  }

  .social,
  .contact-info {
    min-width: 273px;

  }
}
/* 
h1 {
  font-weight: 700;
  font-size: 72px;
  line-height: 80px;
  margin: 0;
  color: var(--white);
}

h2 {
  font-weight: 700;
  font-size: 64px;
  line-height: 76px;
  margin: 0;
  color: var(--white);
}

h3 {
  font-weight: 700;
  font-size: 32px;
  line-height: 32px;
  margin: 0;
  color: var(--white);
}

h4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 26.4px;
  height: 106px;
  margin: 0;
  color: var(--white);
}
 */
